[Desktop Entry]
Type=Application
Name=Lowpoly Image Generator
Comment=Generate low-poly images
Icon=lowpoly
Exec=lowpoly_gui
Categories=Graphics;Photography;
